<section fxLayout="column">
    <div>
        <h1>Search your hero:</h1>
        <mat-divider></mat-divider>

        <mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero }}
                </mat-option>
            </mat-autocomplete>

            <input type="text" placeholder="Search Heroe" matInput [(ngModel)]="heroSearch" [matAutocomplete]="auto"
                (input)="searching()">
        </mat-form-field>
    </div>
</section>

<h3>
    <pre>{{ selectedHeroe | json }}</pre>
</h3>