<h2>Reactive: Básicos</h2>
<hr>

<section class="row">
    <div class="col">

        <form>

            <div class="mb-4 row">
                <label for="" class="col-sm-2 col-form-label">Producto</label>
                <div class="col-sm-10">
                    <input name="producto" type="text" class="form-control" placeholder="Nombre del producto">
                    <span class="form-text text-danger">Debe ser de 3
                        letras</span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input name="precio" type="number" class="form-control" placeholder="Precio del producto">
                    <span class="form-text text-danger">Debe ser mayor a 0</span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                    <input name="stock" type="number" class="form-control" placeholder="Stock del producto">
                </div>
            </div>
            <div class="mb-4 row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark float-end">Guardar</button>
                </div>
            </div>

        </form>

    </div>
</section>

<!-- <app-form-properties [form]="form"></app-form-properties> -->

<!-- <div class="row">
    <div class="col-12">
        <span><strong>CustomDirective</strong></span>
        <pre>{{ form.controls['stock']?.errors | json }}</pre>
    </div>
</div> -->