<div class="row my-4">
    <hr>
    <div class="col-12 col-sm-4">
        <span><strong>Valid</strong></span>
        <pre>{{ form.valid | json }}</pre>
    </div>
    <div class="col-12 col-sm-4">
        <span><strong>Pristine</strong></span>
        <pre>{{ form.pristine | json }}</pre>
    </div>
    <div class="col-12 col-sm-4">
        <span><strong>Touched</strong></span>
        <pre>{{ form.touched | json }}</pre>
    </div>
    <hr>
    <div class="col-12">
        <span><strong>Value</strong></span>
        <pre>{{ form.value | json }}</pre>
    </div>
    <hr>
</div>