<h2>Reactive: Switches</h2>
<hr>

<section class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Género</label>
                <div class="col-sm-9 row pt-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioGenero" formControlName="radioGenero"
                            value="F" id="radioFemenino">
                        <label class="form-check-label" for="radioFemenino">
                            Femenino
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioGenero" formControlName="radioGenero"
                            value="M" id="radioMasculino">
                        <label class="form-check-label" for="radioMasculino">
                            Masculino
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Notificaciones</label>
                <div class="col-sm-9 row pt-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="notificaciones" formControlName="notificaciones"
                            type="checkbox" role="switch" id="switchNotificaciones">
                        <label class="form-check-label" for="switchNotificaciones">Quiero recibir notificaciones</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 row pt-2">
                    <div class="form-check">
                        <input class="form-check-input" name="tyc" formControlName="tyc" type="checkbox" id="tyc">
                        <label class="form-check-label" for="tyc">
                            He leído y acepto los términos y condiciones de uso
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-4 row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</section>

<app-form-properties [form]="form"></app-form-properties>