<h2>Template: Básicos</h2>
<hr>

<section class="row">
    <div class="col">

        <form (ngSubmit)="guardar(form)" #form="ngForm">

            <div class="mb-4 row">
                <label for="" class="col-sm-2 col-form-label">Producto</label>
                <div class="col-sm-10">
                    <input ngModel name="producto" required type="text" class="form-control" placeholder="Nombre del producto" minlength="3">
                    <span class="form-text text-danger"
                        *ngIf="form.controls['producto']?.invalid && form.controls['producto']?.touched"
                    >Debe ser de 3 letras</span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input ngModel name="precio" required type="number" class="form-control" placeholder="Precio del producto">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                    <input ngModel name="stock" required type="number" class="form-control" placeholder="Stock del producto">
                </div>
            </div>
            <div class="mb-4 row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark float-end">Guardar</button>
                </div>
            </div>

        </form>

    </div>
</section>

<div class="row">
    <div class="col-12">
        <span><strong>Value</strong></span>
        <pre>{{ form.value | json }}</pre>
    </div>
    <div class="col">
        <span><strong>Valid</strong></span>
        <pre>{{ form.valid | json }}</pre>
    </div>
    <div class="col">
        <span><strong>Pristine</strong></span>
        <pre>{{ form.pristine | json }}</pre>
    </div>
    <div class="col">
        <span><strong>Touched</strong></span>
        <pre>{{ form.touched | json }}</pre>
    </div>
</div>