<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluídos con Angular - Usualmente en el <code>Common Module</code>.</p>
</div>


<div class="grid text-layout w-full">
    <div class="col-12 md:col-4">
        <p-card header="UpperCase"
                [subheader]="'Original: ' + nombreLowerCase">
            Resultado: {{ nombreLowerCase | uppercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="LowerCase"
                [subheader]="'Original: ' + nombreUpperCase">
            Resultado: {{ nombreUpperCase | lowercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="TitleCase"
                [subheader]="'Original: ' + nombreCompleto">
            Resultado: {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>Pipe para mostrar las fechas.</p>
</div>

<div class="grid text-layout w-full">
    <div class="col-12 md:col-4">
        <p-card>
            <ul>
                <li class="py-1">Fecha</li>
                <li class="py-1">Fecha | date</li>
                <li class="py-1">Fecha | date:'short'</li>
                <li class="py-1">Fecha | date:'long'</li>
                <li class="py-1">Fecha | date:'dd/MM/YYYY'</li>
            </ul>

            <hr>

            <ul>
                <li class="py-1">Fecha | date:'long':'GMT-3'</li>
                <li class="py-1">Fecha | date:'long':'GMT-4'</li>
                <li class="py-1">Fecha | date:'long':'GMT-5'</li>
            </ul>
        </p-card>
    </div>
    <div class="col-12 md:col-8">
        <p-card>
            <ul>
                <li class="py-1">{{ fecha }}</li>
                <li class="py-1">{{ fecha | date }}</li>
                <li class="py-1">{{ fecha | date:'short' }}</li>
                <li class="py-1">{{ fecha | date:'long' }}</li>
                <li class="py-1">{{ fecha | date:'dd/MM/YYYY' }}</li>
            </ul>

            <hr>

            <ul>
                <li class="py-1">{{ fecha | date:'long':'GMT-3' }}</li>
                <li class="py-1">{{ fecha | date:'long':'GMT-4' }}</li>
                <li class="py-1">{{ fecha | date:'long':'GMT-5' }}</li>
            </ul>
        </p-card>
    </div>
</div>