<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluídos con Angular - Usualmente en el <code>Common Module</code></p>
</div>


<div class="grid text-layout w-full">
    <div class="col-12 md:col-4">
        <p-card header="UpperCase"
                [subheader]="nombreLowerCase">
            {{ nombreLowerCase | uppercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="LowerCase"
                [subheader]="nombreUpperCase">
            {{ nombreUpperCase | lowercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="TitleCase"
                [subheader]="nombreCompleto">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>