<div class="text-layout">
    <h1>Pipes no tan comunes.</h1>
    <p>Pipes incluídos en Angular - usualmente en el <code>Common Module</code>.</p>
</div>

<div class="grid">
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis perferendis repellendus officia aperiam
                quidem corrupti autem, itaque voluptate consectetur molestias corporis atque, tempore ea assumenda.</p>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis perferendis repellendus officia aperiam
                quidem corrupti autem, itaque voluptate consectetur molestias corporis atque, tempore ea assumenda.</p>
        </p-fieldset>
    </div>
</div>