<div class="text-layout">
    <h1>Pipes no tan comunes.</h1>
    <p>Pipes incluídos en Angular - usualmente en el <code>Common Module</code>.</p>
</div>

<div class="grid">
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <div class="flex flex-column">
                <span>Hola {{ nombre }},
                    {{ genero | i18nSelect:selectMap }}
                    al sitio web!</span>

                <button pButton type="button" label="Cambiar de género" class="my-3" (click)="cambiarGenero()"></button>
            </div>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <div class="flex flex-column">
                <span>
                    Actualmente {{ clientes.length | i18nPlural:clientesMap }}.
                </span>
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <button pButton type="button" label="Agregar cliente" class="p-button-help my-3 w-full" (click)="agregarcliente()"></button>
                    </div>
                    <div class="col-12 md:col-6">
                        <button pButton type="button" label="Borrar cliente" class="p-button-danger my-3 w-full" (click)="borrarCliente()"></button>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <div class="flex flex-column w-full">
                <b>Original</b>
                <pre class="flex flex-wrap pb-3"><span *ngFor="let cliente of clientes">{{ cliente }},</span></pre>

                <b>slice:0:4</b>
                <pre class="flex flex-wrap pb-3">{{ clientes | slice:0:4 }}</pre>

                <b>slice:1:2</b>
                <pre class="flex flex-wrap pb-3">{{ clientes | slice:1:2 }}</pre>

                <b>slice:2:4</b>
                <pre class="flex flex-wrap pb-3">{{ clientes | slice:2:4 }}</pre>
            </div>
        </p-fieldset>
    </div>
</div>