<h1>Selectores Anidados</h1>
<hr>

<form [formGroup]="form" autocomplete="off" (ngSubmit)="guardar()">

    <div class="row">
        <div class="col-12 col-sm-6">
            <label class="form-label">Región:</label>
            <select class="form-control" formControlName="region">
                <option selected disabled>Seleccione una región</option>
                <option *ngFor="let region of regiones" [value]="region | lowercase">{{ region }}</option>
            </select>
        </div>
        <div class="col-12 col-sm-6" *ngIf="paises.length > 0">
            <label class="form-label">País:</label>
            <select class="form-control" formControlName="pais">
                <option selected disabled>Seleccione un País</option>
                <option *ngFor="let pais of paises" [value]="pais.cca3">{{ pais.name.common }}</option>
            </select>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col">
            <button type="submit" class="btn btn-outline-dark float-end">Seleccionar</button>
        </div>
    </div>

</form>

<app-form-properties [form]="form"></app-form-properties>