<div class="d-flex">

  <!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Giphy-App</h3>

    <hr class="text-light">

    <div class="list-group list-reset my-2">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>
  <!-- End-Sidebar -->

  <div class="container p-5">
    <div class="row py-4">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs...">
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum commodi rem autem eaque, soluta totam nam
          facere in dolore saepe perferendis dolor similique voluptatibus voluptatem! Saepe architecto sapiente eveniet
          laudantium quis recusandae placeat vero quasi vel deserunt nisi, autem atque ab est, magnam, reprehenderit
          repellendus tempora quidem delectus molestias eligendi.</p>
      </div>
    </div>

  </div>



</div>